body {
    color: white;
    /*background-color: #1E2124 */
    background-image: url("fondoapp.jpg");
    background-position: center center;
    background-position: center center;

/* Para que la imagen de fondo no se repita */

background-repeat: no-repeat;

/* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */

background-attachment: fixed;

/* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */

background-size: cover;

/* Se muestra un color de fondo mientras se está cargando la imagen

de fondo o si hay problemas para cargarla */

}
@media (max-width: 1400px){
    #table thead{
        display: none;
    }

    #table tbody tr{
        display: flex;
        flex-direction: column;
        margin-top: 1em;
    }

    #table tbody tr td{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    /*#table tbody tr td::before{
        margin-right: 4em;
    }*/

    #table tbody tr td:nth-child(1)::before{
        content: "RUT:";
    }
    #table tbody tr td:nth-child(2)::before{
        content: "Nombre:";

    }
    #table tbody tr td:nth-child(3)::before{
        content: "Apellido:";

    }
    #table tbody tr td:nth-child(4)::before{
        content: "Telefono:";

    }
    #table tbody tr td:nth-child(5)::before{
        content: "Vehiculo:";

    }
    #table tbody tr td:nth-child(6)::before{
        content: "Edificio:";

    }
    #table tbody tr td:nth-child(7)::before{
        content: "Departamento:";

    }
    #table tbody tr td:nth-child(8)::before{
        content: "Usuario:";

    }
    #table tbody tr td:nth-child(9)::before{
        content: "Fecha:";

    }


}


  