<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" type="text/css" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" type="text/css" href="css/sweetalert2.css">


</head>

<body>
    <div class="menuContainer" id="menu"></div>
    <div id="visita2"><br>
        <div class="container-fluid col-md-8"
            style="background:#36393F; border-radius: 10px; background-color:rgba(2,0,0,0.7);">
            <br>
            <h3>Buscar Visita</h3>
            <form>
                <div class="row">
                    <div class="col-sm-3">
                        <label for="buscarpor">Buscar por</label>
                        <select class="form-control" id="buscarpor" @change="cambio()">
                            <option value="rut">RUT</option>
                            <option value="fecha">Fecha</option>
                        </select>
                    </div>
                    <div class="col-sm-7" id="1">
                        <div class="form-group">
                            <label for="rut">RUT</label>
                            <input type="text" class="form-control" name="rut" placeholder="Ingrese RUT"
                                required="true">
                        </div>
                    </div>
                    <div class="col-sm" id="2">
                        <br>
                        <button @click="buscar($event)" type="button" class="btn btn-primary">Buscar</button>
                    </div>
                    <div class="col-sm-3"  style="display: none;" id="3">
                        <div class="dates" style="color:#FFFF;">
                            <label>Seleccione Fecha Desde</label>
                            <input type="text" style="width:200px;background-color:#FFFF;" class="form-control"
                                id="fecha1" name="event_date" placeholder="YYYY-MM-DD" autocomplete="off">

                        </div><br>
                        <label>Hora</label>
                        <input type="time" style="border-radius: 8px">
                    </div>
                    <div class="col-sm-3" style="display: none;" id="4">
                        <div class="dates" style="color:#FFFF;">
                            <label>Seleccione Fecha Hasta</label>
                            <input type="text" style="width:200px;background-color:#FFFF;" class="form-control"
                                id="fecha2" name="event_date" placeholder="YYYY-MM-DD" autocomplete="off">
                        </div>
                        <br>
                        <label>Hora</label>
                        <input type="time" style="border-radius: 8px">
                    </div>
                    <div class="col-sm-3" style="display: none;" id="5">
                        <br>
                        <button @click="buscar($event)" type="button" class="btn btn-primary">Buscar</button>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <table class="table table-dark" id="table">
                        <thead>
                            <tr>
                                <th scope="col">Rut</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>
                                <th scope="col">Telefono</th>
                                <th scope="col">Vehiculo</th>
                                <th scope="col">Edificio</th>
                                <th scope="col">Departamento</th>
                                <th scope="col">Usuario</th>
                                <th scope="col">Fecha</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                            <tr v-for="v in visitas">
                                <td>{{v.rut}}</td>
                                <td>{{v.nombre}}</td>
                                <td>{{v.apellido}}</td>
                                <td>{{v.telefono}}</td>
                                <td v-if="v.patente!=null">
                                    {{v.patente}}
                                </td>
                                <td v-else>
                                    No
                                </td>
                                <td>{{v.edificio}}</td>
                                <td>{{v.departamento}}</td>
                                <td>{{v.usuario}}</td>
                                <td>{{formatDate(v.fecha)}}</td>
                            </tr>
                        </tbody>


                    </table>
                    <br>

                </div>

            </form>

        </div>
    </div>


    <!--IMPORTAR VUE-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <!--IMPORTAR EL INDEX.JS-->
    <script src="js/buscarVisita.js"></script>
    <script src="js/sweetalert2.js"></script>
    <script type="text/javascript" scr="js/bootstrap-datepicker.js"></script>
    <!--IMPORTAR EL JQUERY-->
    <script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>
    <!-- Optional: include a polyfill for ES6 Promises for IE11 and Android browser -->
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-datepicker.js"></script>

    <!--DROPDOWN-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!--IMPORTAR AJAX-->

    <!--IINICIALIZACIONES-->
    <script type="text/javascript">


        $('.dropdown-menu').click(function () {
            var parent = $(this).parent();
            if (parent.hasClass('open')) {
                parent.removeClass('open');
            } else {
                parent.addClass('open');
            }
        });
    </script>
    <script>
        $.ajax({
            type: "GET",
            url: "header.html",
            success: function (datos) {
                $("#menu").html(datos);
            }
        })
    </script>
    <script>

        $(function () {

            $('.dates #fecha1').datepicker({
                'format': 'yyyy-mm-dd',
                'autoclose': true
            });


        });
        $(function () {

            $('.dates #fecha2').datepicker({
                'format': 'yyyy-mm-dd',
                'autoclose': true
            });


        });
    </script>


</body>

</html>