<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" type="text/css" href="css/sweetalert2.css">

</head>

<body>

    <div class="menuContainer" id="menu"></div>
    <div id="menuPrincipal">
        <br>
        <div class="container-fluid col-md-8"
            style="background:#36393F; border-radius: 10px; background-color:rgba(2,0,0,0.7);">
            <br>
            <h4>Estacionamientos en Vivo</h4>
            <br>
            <table class="table table-bordered table-dark" id="table">
                <thead>
                    <tr>
                        <th scope="col">Numero</th>
                        <th scope="col">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="e in estacionamientos">
                        <td>{{e.numero}}</td>
                        <td v-if="e.estado==0">
                            Disponible
                        </td>
                        <td v-else>
                            Ocupado
                        </td>
                    </tr>
                </tbody>
            </table><br>
            <!--<a class="btn btn-primary" @click="nueva()" role="button">Link</a>
            <a class="btn btn-primary" @click="verCamara()" role="button">Ver Cámara</a>
            <a href="registrarDueño.html" class="btn btn-primary btn-lg active" role="button"
                aria-pressed="true">Registrar Residente</a>
            -->

        </div>
    </div>

    <!--IMPORTAR VUE-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <!--IMPORTAR EL INDEX.JS-->
    <script src="js/menuPrincipal.js"></script>
    <!--IMPORTAR EL JQUERY-->
    <script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>
    <script src="sweetalert2.all.min.js"></script>
    <!-- Optional: include a polyfill for ES6 Promises for IE11 and Android browser -->
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>

    <!--DROPDOWN-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!--IMPORTAR AJAX-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!--IINICIALIZACIONES-->
    <script type="text/javascript">

        $('.dropdown-menu').click(function () {
            var parent = $(this).parent();
            if (parent.hasClass('open')) {
                parent.removeClass('open');
            } else {
                parent.addClass('open');
            }
        });
    </script>
    <script>
        $.ajax({
            type: "GET",
            url: "header.html",
            success: function (datos) {
                $("#menu").html(datos);
            }
        })
    </script>
</body>

</html>